*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
.header_class{
    background-color:  rgb(14, 14, 17);
    color: white;
    padding: 26px 3px;
}


.logo_and_menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu_and_icon{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    gap: 95px;
}
.img_and_btn
{display: flex;
     justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
/* this the logo content ==feane */
.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    color: azure;
}
.menus ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.menu_img{
    display: flex;
    gap: 25px;
    list-style-type:none;
  
}
.menu_img img{
  /* border-radius: 15px; */
   width: 15px;
  background-color: rgb(7, 7, 7);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: orange;
}
.btn button{
    background-color: orange;
    color: white;
    border-radius: 25px;
    width: 160px;
    height: 45px;
}




/* form */


.formsection 
{
    align-item: center;
    justify-content: center;
    font-size: 15px;
    width: 800px;
    height: 600px;
    font-family: cursive;
    padding: 50px 0px 0px 200px;

}
.fill_form
{
    display: flex;
}
.fill_form h1{
    font-family: sans-serif;
    font-style: italic;
    margin-bottom: 10px; 
}
.fill_form input{
    width: 600px;
    height: 55px;
 
    margin : 10px 0px 10px 0px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 5px;
   
}

.bookbtn button{
     background-color: orange;
    color: white;
    border-radius: 25px;
    width: 180px;
    height: 40px;
    font-size: 15px;
    margin:35px 0px 0px 0px;
    align-items: center;
    justify-content: center;
}
.map iframe{
    width: 500px;
    height: 300px;
    margin: 40px;
    border-radius: 10px;
}




/*  end footer section */
.end_sec{
        height: 500px;
    background-color: rgb(38, 35, 48);
    color:white;
}
.three_sec{
    display: flex;
    padding: 30px;

}
.contact_us{
      width: 450px;
      padding: 50px 50px 0px 150px;
}
.contact_us h3{
    color: #f0ffff;
    padding: 20px 0px 25px 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 400px;
}
.sub_cont a{
    padding:0px 0px 20px 110px ;
     font-size: 16px;
     gap: 10px;

}
.feane{
    width: 550px;
    padding: 50px 0px 0px 100px;

}
.feane h3{
     color: #f0ffff;
    padding: 20px 400px 20px 100px;
    font-size: 20px;
    width: 300px;
}
.sub_feane p{
padding:0px 10px 20px 10px ;
     font-size: 16px;
}
.open_hours{
      width: 500px;
        padding: 50px 150px 0px 100px;
}
.open_hours h3{
     color: #f0ffff;
    padding: 20px 20px 10px 0px;
    font-size: 20px;
    width: 400px;
}
.sub_open h5{
     padding: 10px 20px 0px 15px;
     font-size: 16px;
}
